body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.new-todo {
    display: flex;
    flex-direction: column;
}

.new-todo--button {
    background: cyan;
    border: none;
    height: 50px;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}

.new-todo--button:hover {
    background: none;
    border: 5px solid cyan;
}

.new-todo--input {
    border: none;
    border-bottom: 5px cyan solid;
    background: none;
    font-size: 24px;
    height: 50px;
    width: 300px;
    margin-bottom: 10px;
    color: white;
    outline: none;
}

.todo-list {
    min-width: 300px;
    display: flex;
    flex-direction: column;
}

.todo-row {
    margin-top: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: larger;
    outline: none;
    color: darkcyan;
    transition: color 0.2s ease;
}

.done-button:hover {
    color: greenyellow;
}

.delete-button:hover {
    color: tomato;
}

.todo-button-done:hover {
    color: darkcyan;
}

.todo-button-done {
    color: greenyellow;

}

.todo-element {
    text-align: center;
    background: none;
    border: none;
    border-bottom: 2px cyan solid;
    color: white;
    font-size: 20px;
    max-width: 220px;
    outline: none;
}
