body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.bookmarklet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
}

.bookmarklet-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.code-container {
    background-color: antiquewhite;
}

.code {
    white-space: pre-wrap;
    color: darkslategrey;
}

.code-title {
    text-align: center;
}
